In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import G_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Pierre,RE,2021-11-25 17:16:31,-21.3393,55.4781,77.29,87,75,8.05
1,1,Kapaa,US,2021-11-25 17:16:31,22.0752,-159.3190,75.52,81,90,10.36
2,2,Presidencia Roque Saenz Pena,AR,2021-11-25 17:16:32,-26.7852,-60.4388,87.30,65,86,13.58
3,3,Mar Del Plata,AR,2021-11-25 17:16:32,-38.0023,-57.5575,68.02,86,0,8.99
4,4,Ponta Do Sol,PT,2021-11-25 17:16:32,32.6667,-17.1000,68.72,62,91,4.99

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=G_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]


# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.

fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 80

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Pierre,RE,2021-11-25 17:16:31,-21.3393,55.4781,77.29,87,75,8.05
1,1,Kapaa,US,2021-11-25 17:16:31,22.0752,-159.3190,75.52,81,90,10.36
8,8,Avarua,CK,2021-11-25 17:14:08,-21.2078,-159.7750,75.25,94,36,5.75
9,9,Cuddapah,IN,2021-11-25 17:16:34,14.4667,78.8167,73.35,88,96,3.65
10,10,Bengkulu,ID,2021-11-25 17:16:35,-3.8004,102.2655,77.09,84,61,3.69
11,11,Vao,NC,2021-11-25 17:16:35,-22.6667,167.4833,73.18,87,100,13.51
15,15,Puerto Ayora,EC,2021-11-25 17:16:37,-0.7393,-90.3518,78.76,87,52,8.99
19,19,Necochea,AR,2021-11-25 17:16:38,-38.5473,-58.7368,72.03,57,100,8.59
23,23,Mahebourg,MU,2021-11-25 17:16:40,-20.4081,57.7000,77.29,78,40,3.44
28,28,Rikitea,PF,2021-11-25 17:16:42,-23.1203,-134.9692,75.65,76,12,13.09

In [11]:
preferred_cities_df.count()

City_ID       113
City          113
Country       113
Date          113
Lat           113
Lng           113
Max Temp      113
Humidity      113
Cloudiness    113
Wind Speed    113
dtype: int64

In [12]:
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

hotel_df["Hotel Name"] = ''
hotel_df.head()

            City Country  Max Temp      Lat       Lng Hotel Name
0   Saint-Pierre      RE     77.29 -21.3393   55.4781
1          Kapaa      US     75.52  22.0752 -159.3190
8         Avarua      CK     75.25 -21.2078 -159.7750
9       Cuddapah      IN     73.35  14.4667   78.8167
10      Bengkulu      ID     77.09  -3.8004  102.2655

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": G_key
}

In [15]:

# iterate through hotel DF to get locations for each city
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']
    
    # Add latitude and longitude to parameters for search
    params["location"] = f"{lat},{lng}"
    
    # Create base_url for search
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data
    hotels = requests.get(base_url, params=params).json()
    
    # Store name of first hotel in hotel DF
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError): 
        print("No hotel found...skipping.")

No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.
No hotel found...skipping.

In [16]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Saint-Pierre,RE,77.29,-21.3393,55.4781,Lindsey Hôtel
1,Kapaa,US,75.52,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
8,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
9,Cuddapah,IN,73.35,14.4667,78.8167,OYO 65430 Ysr Residency
10,Bengkulu,ID,77.09,-3.8004,102.2655,Grage Hotel Bengkulu
...,...,...,...,...,...,...
528,Jalu,LY,73.83,29.0331,21.5482,صاحبة الفخامة
530,Esmeralda,CU,72.64,21.8525,-78.1169,Centro de Pioneros Exploradores
531,Ambulu,ID,77.40,-8.3450,113.6058,Hotel Ambulu Jember
539,Yeppoon,AU,73.18,-23.1333,150.7333,Villa Mar Colina
541,Basco,PH,78.51,20.4487,121.9702,Nathaniel's Lodge

In [17]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [20]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [21]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))